<section class="head-LP text-LP">
    <div class="container pb-5">
        <div class="row align-items-center py-5">
            <div class="col-md-12 text-center mb-4">
                <img src="../../../../assets/images/logo/logo.png" width="120">
                <h1 class="yellow2 mt-4 text-bold">Big Puntos</h1>
                <h4 class="azul2 mt-2">!Compra Más con menos Dólares!</h4>
            </div>

            <div class="col-md-12 mb-5">
                <div class="m-1 row justify-content-center align-items-center">
                    <div class="col-md-3">
                        <button class="btn btn-warning mt-5 btn-lg btn-block"
                                (click)="redirigirLogin('verPremios')">
                            Quiero ver mis Premios
                        </button>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-warning mt-5 btn-lg btn-block"
                                (click)="redirigirLogin('pagar')">
                            Pagar con BigPuntos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-LP"></div>

