<!-- Error page-->
<div>
    <section class="head-LP text-LP">
        <div class="container pb-5">
            <div class="row align-items-center py-5">
                <div class="col-md-12 text-center mb-4">
                    <img src="../../../../assets/images/logo/logo.png" width="120" alt="">
                    <h1 class="yellow2 mt-4 text-bold">GRP Personas CrediCompra</h1>
                    <!--                    <h2 class="azul2 mt-2">{{banner1}}</h2>-->
                </div>
                <div class="col-md-12 text-center">
                    <h2 class="user-name font-weight-bolder text-center">Felicitaciones usted tiene un crédito
                        Aprobado por: {{monto}} para que compre en esta plataforma.</h2>

                        <h3 class="user-name font-weight-bolder text-center">
                            DE clic en Continuar para que acepte su crédito
                        </h3>

                    <a
                            (click)="actionContinue()"
                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light">
                        Continuar
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="footer-LP"></div>
