<section class="text-LP">
  <div class="container py-5">
    <div class="row align-items-center pb-5">
      <div class="col-md-12 text-center mb-2">
        <img src="{{ coreConfig.app.appLogoImage }}" width="300">
        <h4 class="azul2 mt-4 text-bold">POR SER PARTE DE NUESTRA FAMILIA, BIG PUNTOS TE PREMIA</h4>
        <h4 class="azul2 mt-2">¡Big Puntos son los puntos para vivir!</h4>
        <h4 class="azul2 mt-2">Por  <b style="color: red">{{puntos}}</b>, llévate gratis cualquiera de nuestros productos.</h4>
        <h4 class="azul2 mt-2">Acércate a nuestros establecimientos afiliados y canjea tus Big Puntos.</h4>
      </div>
      <div class="m-1 row justify-content-center align-items-center">
        <div class="col-lg-3" *ngFor="let producto of productos">
          <div class="card shadow">
            <div class="card-header">
              <img src="{{producto.imagen}}" width="1000" height="200">
            </div>
            <div class="card-body">
              <h4 class="azul">{{producto.nombre}}</h4>
              <ul class="font-size-14">
                <li>Precio: ${{producto.precioNormal}}</li>
                <li class="azul2"><b>Paga en EFECTIVO solo: ${{producto.efectivo}}</b></li>
                <li>Código de Big Puntos: {{producto.codigoDescuento}}</li>
              </ul>
            </div>
            <div class="text-justify">
              <a class="azul2 m-1" href="https://wa.link/7nbuqf" target="_blank" >
                <i class="fa fa-whatsapp"  style="font-size: 20px; color: #00cd00">
                </i>
                Contáctanos para recibir tu premio
              </a>
              <br>
              <br>
              <a class="azul2 m-1" href="https://www.Facebook.com/bigpuntos" target="_blank" >
                <i class="fa fa-facebook" style="font-size: 20px">
                </i>
                Ver catálogo completo
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-1">
        <div class="text-center col-md-12 ">
          <h1 class="azul2 mt-5 text-bold">PUNTOS DE CANJE:
          </h1>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center">
          <div class="row">
            <div class="col-12 d-flex justify-content-center m-1">
              <img src="assets/images/direcciones/mega-bahia.png" width="150">
            </div>
            <div class="col-12 text-center">
              <h4 class="azul2">
                Dir: Av. 10 de Agosto N39-201 y José Arizaga, Sector La Y, frente al Hipermercado CORAL y
                junto
                a la Clínica AXXIS., Quito, Ecuador.
              </h4>
            </div>
          </div>


        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center">
          <div class="row">
            <div class="col-12 d-flex justify-content-center m-1">
              <img src="assets/images/direcciones/vittoria.png" width="150">
            </div>
            <div class="col-12 text-center">
              <h4 class="azul2">
                Dir: Selva Alegre OE 4-65 y Gaspar de Carvajal 170521 Quito, Ecuador.

              </h4>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center">
          <div class="row">
            <div class="col-12 d-flex justify-content-center m-1">
              <img src="assets/images/direcciones/mega-barato.png" width="150">
            </div>
            <div class="col-12 text-center">
              <h4 class="azul2">
                Dir: Teniente Hugo Ortiz S25-79 y Av. Solanda, diagonal a la parada del trole Quimiag.
                170131 Quito, Ecuador.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center ">
        <h3>Necesito ayuda:</h3>
        <a href="https://n9.cl/xgadq" target="_blank" style="font-size: 50px">
          <i class="fa fa-whatsapp " style="color: #00cd00">
          </i>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="text-center mb-2">
  <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">
</div>
<div class="buy-now">
  <a href="https://wa.link/7nbuqf" target="_blank" class="text-bold color-black">
    Necesito ayuda
    <img src="assets/images/iconos-flotantes/whatsapp.png" width="50">
  </a
  >
</div>
