<div class="content-wrapper">
    <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Como funciona Big Puntos</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" [routerLink]="['/']">Inicio</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-items">
        <!-- users list start -->
        <section id="media-player-wrapper">
            <div class="row">
                <div class="col-lg-6 mt-1">
                    <img width="100%" src="./assets/images/informacion/como_funciona.jpeg">
                </div>
                <div class="col-lg-6 mt-1">
                    <img width="100%" src="./assets/images/informacion/como_funciona_explicacion.jpeg">
                </div>
            </div>
        </section>
        <!-- users list ends -->
    </div>

</div>
