.text-primary {
    color: #385e8c !important;
}

.btn-primary {
    color: #385e8c !important;
}

.black {
    color: #000000 !important;
}

.btn-primary:hover {
    background-color: #385e8c !important;
    box-shadow: 0 8px 25px -8px white !important;
    color: white !important;
    border-color: #385e8c !important;
}

.azul2 {
    color: #385e8c !important;
}

.img-container {
    position: relative;
}

.img-container img {
    position: relative;
    z-index: 1;
}

.img-container p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 0;
    color: black;
}
