<ul>Atención empleados

    <li>■ Seleccione un local: locales afiliados</li>
    <li>■ Elija un tema: Atención irrespetuosa, acusación falsa, problemas del sistema, mala actitud del empleado, mala
        presentación de los empleados, factura mal hecha, problemas con parqueos y taxis, tiempo de espera para el cobro
        en caja, productos
    </li>
    <li>■ En sus palabras, cuéntenos qué pasó</li>
    <li>■ Enviar</li>
</ul>
<ul> Accidentes, robos
    <li>■ Seleccione un local</li>
    <li>■ Accidente con productos</li>
    <li>■ La funda se rompió</li>
    <li>■ Accidente en el local</li>
    <li>■ Robo en el local</li>
    <li>■ Acusación falsa de robo</li>
    <li>■ Recomendaciones para el local</li>
    <li>■ Doble cobro</li>
    <li>■ En sus palabras, cuéntenos qué pasó</li>
    <li>■ Enviar</li>
</ul>
<ul> Ambiente
    <li>■ Seleccione un local</li>
    <li>■ Cajas</li>
    <li>■ Limpieza</li>
    <li>■ Letrero de precio</li>
    <li>■ Desorden en el local</li>
    <li>■ Coches</li>
    <li>■ Robo</li>
    <li>■ Temperatura del local</li>
    <li>■ En sus palabras, cuéntenos qué pasó</li>
    <li>■ Enviar</li>
</ul>
<ul> Precios promocionales
    <li>■ No hubo el producto en promoción</li>
    <li>■ Precios altos</li>
    <li>■ Promociones falsas</li>
    <li>■ Cobro excesivo</li>
    <li>■ Errores en la aplicación</li>
    <li>■ No se aplicó el descuento</li>
    <li>■ Productos sin precio</li>
    <li>■ El precio del producto no coincide con el precio publicado</li>
    <li>■ Doble cobro</li>
    <li>■ En sus palabras, cuéntenos qué pasó</li>
    <li>■ Enviar</li>
</ul>
<ul>PAGOS DUPLICADOS:
    <li>■ Se descontó dos veces el pago con BP</li>
    <li>■ No se pudo realizar el pago con BP</li>
    <li>■ Error al generar el código para el pago</li>
    <li>■ En sus palabras, cuéntenos qué pasó</li>
    <li>■ Enviar</li>
</ul>
<ul>DEVOLUCIONES Y REEMBOLSOS
    <li>- Reembolsos (aquí aparecerán las devoluciones por cobros dobles)</li>
    <li>- Solicitudes procesadas (aquí aparecerán las solicitudes del usuario que han sido enviadas)</li>
</ul>
