<!-- Error page-->


<div class="card mb-0">
    <div class="card-body">
        <div class="card profile-header mb-2">
            <!-- profile cover photo -->
            <div class="text-center">

                <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="300"/>
            </div>
            <div class="text-center mt-1 azul2  text-bold ">
                <div class="col-md-12 text-justify">
                    <p class="card-title azul2  text-bold " >
                        Usted está ingresando al mundo de CrediCompra-Big Puntos para que pueda realizar
                        <b style="color: black !important;">COMPRAS CON CRÉDITOS</b>
                        otorgados por Cooperativas de Ahorro y Crédito reguladas.
                </div>
                <br>
                <div class="col-md-12 text-justify">
                    <p class="card-title azul2  text-bold " >
                        Y, <b style="color: black !important;">ACUMULAR BIG PUNTOS</b> para canjearlos por productos de varias categorías en establecimientos afiliados <b style="color: black !important;">PAGANDO MENOS DINERO EN EFECTIVO</b>
                    </p>
                </div>
                <hr/>
            </div>

            <!--/ profile cover photo -->

            <div class="text-center col-auto mt-5">
                <!-- profile picture -->
                <img src="{{imagen ? imagen: 'assets/images/portrait/small/sin_foto.png'}}" class="rounded img-fluid"
                     alt="Card image"/>
                <!-- profile title -->
                <br>
                <div class="mt-1">
                    <label class="btn btn-info btn-sm mr-75 waves-effect waves-float waves-light" for="change-picture">
                        <span class="">Cambiar foto</span>
                        <input class="form-control" type="file" id="change-picture" hidden
                               accept="image/png, image/jpeg, image/jpg"
                               (change)="subirImagen($event)"/>
                    </label>
                </div>

            </div>

            <form class="auth-login-form " [formGroup]="registerForm" (ngSubmit)="guardarRegistro()">
                <!-- tabs pill -->
                <div class="profile-header-nav">
                    <!-- navbar -->
                    <div class="row card-body">
                        <div class="col-md-12 text-center">
                            <p class="card-title azul2 " >
                                Al completar su perfil usted GANARA {{ganarMonedas?.valor}} Big Puntos para que haga uso
                                en
                                canje de magníficos
                                PREMIOS!.</p>
                            <hr/>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tipoIdentificacion">Tipo de identificación</label>
                                <select formControlName="tipoIdentificacion" class="form-control"
                                        id="tipoIdentificacion"
                                        [ngClass]="{ 'is-invalid': submitted && f.tipoIdentificacion.errors }">
                                    <option>- Seleccionar -</option>
                                    <option *ngFor="let value of tipoIdentificacion">
                                        {{value.nombre}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback">
                                    <div *ngIf="f.tipoIdentificacion.errors.required">Tipo de identificación es
                                        requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="documento">Número de identificación</label>
                                <input formControlName="documento" type="text" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.documento.errors }">
                                <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
                                    <div *ngIf="f.documento.errors.required">Identificación es requerida</div>
                                    <div *ngIf="f.documento.errors.pattern">Identificación es requerida</div>
                                </div>
                                <div *ngIf="!f.documento.errors?.validoCed" class="invalid-feedback">Documento no valido
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nombres">Nombres completos (Completar dos nombres)</label>
                                <input formControlName="nombres" type="text" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }">
                                <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                                    <div *ngIf="f.nombres.errors.required">Nombres son requeridos</div>
                                    <div *ngIf="f.nombres.errors.pattern || f.nombres.errors.minlength">
                                        Ingrese solo letras, mínimo 4 y NOMBRES COMPLETOS (dos nombres)

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="apellidos">Apellidos completos (Completar dos apellidos)</label>
                                <input formControlName="apellidos" type="text" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }">
                                <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                                    <div *ngIf="f.apellidos.errors.required">Apellidos son requeridos</div>
                                    <div *ngIf="f.apellidos.errors.pattern || f.apellidos.errors.minlength">
                                        Ingrese solo letras, mínimo 4 y APELLIDOS COMPLETOS (dos nombres)

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="genero">Género</label>
                                <select formControlName="genero" class="form-control" id="status"
                                        [ngClass]="{ 'is-invalid': submitted && f.genero.errors }">
                                    <option value="">- Seleccionar -</option>
                                    <option value="{{value.nombre}}" *ngFor="let value of generos">
                                        {{value.nombre}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.genero.errors" class="invalid-feedback">
                                    <div *ngIf="f.genero.errors.required">El campo Genero es requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de nacimiento</label>
                                <ng2-flatpickr [setDate]="fecha" formControlName="fechaNacimiento"
                                               [config]="startDateOptions"
                                               [ngClass]="{ 'is-invalid': submitted && f.fechaNacimiento.errors }"
                                               (input)="calcularEdad()">
                                </ng2-flatpickr>
                                <div *ngIf="submitted && f.fechaNacimiento.errors" class="invalid-feedback">
                                    <div *ngIf="f.fechaNacimiento.errors.required">Fecha es requerida</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edad">Edad</label>
                                <input formControlName="edad" type="text" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.edad.errors }" disabled>
                                <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
                                    <div *ngIf="!f.edad.errors?.valido">Menor de edad</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-weight-bold">Número de celular
                                </label>
                                <input formControlName="celular" type="text"
                                       [ngClass]="{ 'is-invalid': submitted && f.celular.errors }" class="form-control"
                                       placeholder="Ejemplo: 0987654321">
                                <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
                                    <div *ngIf="f.celular.errors.pattern">Solo se aceptan números</div>
                                    <div *ngIf="f.celular.errors.required">Nro de celular requerido</div>
                                    <div *ngIf="f.celular.errors.minlength || f.celular.errors.maxlength || f.celular.errors.min">
                                        Ingrese un número de 10 dígitos
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="font-weight-bold">Número WhatsApp
                                    <!--                  <small class="text-info">(Importante-->
                                    <!--                    para validar tu cuenta)</small>-->
                                </label>
                                <input formControlName="whatsapp" type="text"
                                       [ngClass]="{ 'is-invalid': submitted && f.whatsapp.errors }" class="form-control"
                                       placeholder="Ejemplo: 0987654321">
                                <div *ngIf="submitted && f.whatsapp.errors" class="invalid-feedback">
                                    <div *ngIf="f.whatsapp.errors.pattern">Solo se aceptan números</div>
                                    <div *ngIf="f.whatsapp.errors.required">Nro de WhatsApp requerido</div>
                                    <div *ngIf="f.whatsapp.errors.minlength || f.whatsapp.errors.maxlength || f.whatsapp.errors.min">
                                        Ingrese un número de 10 dígitos
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 text-center">
                            <hr/>
                            <button type="button" data-target="#whatsapp" data-toggle="modal"
                                    class="btn btn-primary mt-1 mb-sm-0 mr-0  mr-sm-1 waves-effect waves-float waves-light"
                                    style="color:white!important;"
                                    (click)="guardarRegistro()">Validar Cuenta y Continuar
                            </button>
<!--                            <button type="button"-->
<!--                                    class="btn btn-primary mt-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"-->
<!--                                    (click)="omitirContinuar()">Omitir y Continuar-->
<!--                            </button>-->
                        </div>
                        <div class="col-12 text-center">
                            <div class="divider my-2">
                                <div class="divider-text">¿Necesitas ayuda, contáctanos?</div>
                            </div>
                            <a class="btn text-center mt-1  pb-1 btn-social bg-whatsapp text-white"
                               href="https://wa.me/5591122334455 ">
                                <i class="fa fa-whatsapp"></i>      Whatsapp          
                            </a>
                        </div>
                    </div>
                    <!--/ navbar -->
                </div>
            </form>
        </div>

    </div>
    <div class="text-center">
        <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">
    </div>
</div>
<!-- /Forgot Password v1 -->


<!-- / Error page-->

<ng-template #whatsapp let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
            <div class="alert-body">
                <p>{{ error }}</p>
            </div>
        </ngb-alert>
        <p class="text-primary font-weight-bold">Ingresa el código que hemos enviado a tu correo y valida tu
            cuenta</p>
        <div class="form-group">
            <input [(ngModel)]="codigo" class="form-control" type="text">
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="validarWhatsapp()" class="btn btn-primary">Validar</a>
    </div>
</ng-template>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>


<!-- Buynow Button-->
<div class="buy-now">
    <a href="https://walink.co/9e8a9d" target="_blank" class="text-bold color-black" style="color: black !important;">
        Necesito ayuda
        <img src="assets/images/iconos-flotantes/whatsapp.png" width="50">
    </a
    >
</div>
