<!-- Error page-->
<div class="row">
    <section class="head-LP text-LP">
        <div class="container pb-5 text-center">
            <img src="{{ coreConfig.app.appLogoImage }}" width="300">
            <h1 class="yellow2  text-bold">CrediCompra</h1>

            <div class="row justify-content-center align-items-center mb-2">
                <div class="col-md-12 text-center mb-4">
                </div>
                <div class="col-md-12 text-center">
                    <h2 class="user-name font-weight-bolder text-center">Validaremos la información adjuntada y nos
                        pondremos en contacto con usted.
                    </h2>
                    <h3 class="user-name font-weight-bolder text-center">
                        Visite
                        <a href="https://credicompra.com/">www.credicompra.com</a>
                        y navegue por todas las tiendas disponibles para realizar sus compras
                    </h3>
                </div>

                <div class="col-md-12 mt-2">
                    <div class="col-md-12 ">
                        <a class="btn btn-primary" href="https://credicompra.com/" r>
                            CrediCompra
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">
            </div>
        </div>
    </section>

</div>

<div class="footer-LP"></div>


