<!-- Error page-->
<div class="row">
    <section class="head-LP text-LP">
        <div class="container pb-5 text-center">
            <div class="card-body text-center">
                <img src="{{ coreConfig.app.appLogoImage }}" width="300">
            </div>
            <div class="row justify-content-center align-items-center mb-2">
                <div class="col-md-12 text-center mb-4">
                </div>
                <div class="col-md-12 text-center mx-3">
                    <h2 class="user-name font-weight-bolder text-center">
                        Validaremos la información enviada y nos pondremos en contacto con usted.
                    </h2>
                    <br>

                    <h3 class="user-name font-weight-bolder text-center">
                        Enviaremos desde el siguiente número de WhatsApp <p style="color: black !important;">9999999999</p> un
                        mensaje para completar y validar su información.
                        Por favor, agregue este número y no comparta su información con ningún otro número desconocido.
                        <br>
                        <br>
                        <a  href="https://wa.me/5591122334455">
                            <i class="fa fa-whatsapp"
                               style=" color: lawngreen;font-size: 40pt">
                            </i>
                        </a>
                    </h3> <br>
                    <h3 class="user-name font-weight-bolder text-center">
                        Visite
                        <a href="https://credicompra.com/">www.credicompra.com</a>
                        y navegue por todas las tiendas disponibles para realizar sus compras
                    </h3>
                </div>
                <br>

                <div class="col-md-12 mt-2">
                    <div class="col-md-12 ">
                        <a class="btn btn-primary" href="https://credicompra.com/" r>
                            CrediCompra
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <div class="text-center">
                <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">
            </div>
        </div>
    </section>

</div>

<div class="footer-LP"></div>


