<!-- Error page-->
<section class="">
    <div class="container pb-5">
        <div class="align-items-center py-2">
            <div class="row justify-content-center">
                <img src="/assets/images/logo/big-puntos.png" width="150">
            </div>
            <div class="row text-center ">
                <div class="col-12 col-lg-4">
                    <img [src]="empresa?.logo" width="150">
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <h1 class="azul2 mt-4 "><b>POR SER NUESTRO MEJOR EMPLEADO</b></h1>
                </div>
                <div class="col-12 col-lg-4">
                    <img src="/assets/images/logo/creditopagos.png" width="300">
                </div>
            </div>


            <div class="col-md-12 mt-2 ">

                <div class=" row justify-content-center text-center">
                    <h4 class="col-12 rojo">{{empresa?.nombre}} TE REGALA {{empresa?.bigPuntos}} BIG PUNTOS</h4>
                    <h4 class="azul2 col-12 my-2" style="line-height: 30px">
                        PARA REALIZAR COMPRAS EN ESTABLECIMIENTOS AFILIADOS PAGANDO MENOS DINERO EN EFECTIVO
                    </h4>
                    <br>
                    <h4 class="azul2 mt-2 col-12">
                        REGÍSTRATE
                        <a href="https://portal.bigpuntos.com/#/grp/login" target="_blank"
                           style="color: #fbd800!important;">
                            AQUÍ
                        </a>
                        , GANA BIG PUNTOS y <span style="color: red">PAGA MENOS EN EFECTIVO</span> por tus compras en establecimientos afiliados.
                    </h4>
                    <h3 class="col-12 my-2 text-bold" style="color: red">
                        ¡APROVECHA ANTES DE QUE SE AGOTEN!
                    </h3>

                    <div class="col-md-3" *ngFor="let producto of productos">
                        <div class="card shadow">
                            <div class="card-header px-5">
                                <img src="{{producto.imagen}}" width="1000" height="200">
                            </div>
                            <div class="card-body">
                                <h5 class="azul">{{producto.nombre}}</h5>
                                <ul class="font-size-14">
                                    <li> Precio normal: {{producto.precioNormal}} </li>
                                    <li class="azul2"><b> Pague en efectivo solo: {{producto.efectivo}} </b> <br>+
                                        {{producto.precioSupermonedas}} Big Puntos
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="https://walink.co/9e8a9d" target="_blank" class="btn btn-primary text-bold"
                           style="color: black!important;">
                            ¡Quiero más productos!
                        </a>
                    </div>


                </div>
            </div>
            <div class="text-center col-md-12 m-1">
                <h1 class="azul2 mt-4 text-bold">PUNTOS DE CANJE:
                </h1>
            </div>
            <div class="row">
                <div class=" col-12 col-lg-4 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center m-1">
                            <img src="assets/images/direcciones/mega-bahia.png" width="150">
                        </div>
                        <div class="col-12 text-center">
                            <h4 class="azul2">
                                Dir: Av. 10 de Agosto N39-201 y José Arizaga, Sector La Y, frente al Hipermercado CORAL
                                y
                                junto
                                a la Clínica AXXIS., Quito, Ecuador.
                            </h4>
                        </div>
                    </div>


                </div>
                <div class=" col-12 col-lg-4 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center m-1">
                            <img src="assets/images/direcciones/vittoria.png" width="150">
                        </div>
                        <div class="col-12 text-center">
                            <h4 class="azul2">
                                Dir: Selva Alegre OE 4-65 y Gaspar de Carvajal 170521 Quito, Ecuador.

                            </h4>
                        </div>
                    </div>
                </div>
                <div class=" col-12 col-lg-4 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center m-1">
                            <img src="assets/images/direcciones/mega-barato.png" width="150">
                        </div>
                        <div class="col-12 text-center">
                            <h4 class="azul2">
                                Dir: Teniente Hugo Ortiz S25-79 y Av. Solanda, diagonal a la parada del trole Quimiag.
                                170131 Quito, Ecuador.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center ">
                <h3>Necesito ayuda:</h3>
                <a href="https://wa.link/t3zmzu" target="_blank" style="font-size: 50px">
                    <i class="fa fa-whatsapp " style="color: #00cd00">
                    </i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--<section class="section-footer-LP text-LP pt-5 pb-5">-->
<!--    <div class="container pt-5">-->
<!--        <h2 class="yellow2 text-center"><b>OBTENER MIS DESCUENTOS</b></h2>-->
<!--        <p class="text-white text-center font-size-20">Te enviaremos un código para que descubras tu premio</p>-->
<!--        <div class="row justify-content-center mt-5">-->
<!--            <div class="col-md-8">-->
<!--                <form class="auth-login-form mt-2" [formGroup]="email_code_Form" (ngSubmit)="enviarCodigo()">-->
<!--                    <div class="form-group">-->
<!--                        <label class="text-white">Ingresa tu correo electrónico para enviarte el código</label>-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control" placeholder="&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;" formControlName="email">-->
<!--                            <div class="input-group-append">-->
<!--                                <button class="btn btn-warning">Quiero el premio</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div *ngIf="submitted && f.email.errors" class="text-white">-->

<!--                            <div *ngIf="f.email.errors.required">Correo es requerido</div>-->
<!--                            <div *ngIf="f.email.errors.email">Debe ingresar una dirección de correo válida</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <form class="auth-login-form mt-2" [formGroup]="confir_email_code_Form" (ngSubmit)="validarCodigo()">-->
<!--                    <div class="form-group">-->
<!--                        <label class="text-white">Ingresa el código que hemos enviado a tu correo electrónico (no-->
<!--                            olvides revisar tu-->
<!--                            carpeta de SPAM)</label>-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control" formControlName="code" placeholder="*********">-->
<!--                            <div class="input-group-append">-->
<!--                                <button class="btn btn-warning">Enviar Código</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div *ngIf="submitted2 && f2.code.errors" class="text-white">-->

<!--                            <div *ngIf="f2.code.errors.required">Código es requerido</div>-->
<!--                            <div *ngIf="f2.code.errors?.code">Código invalido</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<app-footer></app-footer>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>
<!-- / Error page-->

<!-- Buynow Button-->
<app-need-help [href]="'https://walink.co/9e8a9d'"> </app-need-help>
