<div class="content-wrapper">
    <div class="content-body">
        <!-- users list start -->
        <section class="app-ecommerce-details">
            <div class="card">
                <div class="row">
                    <div class="col-md-4 p-3">
                        <div class="text-center">
                            <h2 class="text-primary mb-0"><b>Coral</b></h2>
                            <small class="text-body"><b>Supermercados</b></small>
                        </div>
                        <p class="small mt-1 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="img-container w-50 mx-auto py-75">
                            <img src="app-assets/images/coral.jpg" class="img-fluid" alt="image" />
                        </div>
                        <p class="small text-center"><b>Quito - Ecuador </b><br> Av. 10 de agosto y gaspar de villarroel<br> Teléfono: 02346 567<br> Web: <a href="#"><b>www.coralmercados.com</b></a><br>
                        </p>
                    </div>
                    <div class="col-md-8 border-left p-3">
                        <div class="form-group">
                            <label>Monto que solicita:</label>
                            <input class="form-control form-control-sm" type="text" placeholder="$">
                        </div>
                        <div class="form-group">
                            <label>Plazo (meses):</label>
                            <select class="form-control form-control-sm">
                    <option>- Seleccione -</option>
                    <option>1</option>
                    <option>3</option>
                    <option>6</option>
                    <option>12</option>
                    <option>24</option>
                  </select>
                        </div>

                        <div class="form-group mt-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Aceptar terminos y condiciones</label>
                            </div>
                        </div>
                        <a href="creditos-autonomo-establecimientos.html" class="btn btn-secondary mt-2"> Atrás </a>
                        <a href="javascript:void(0)" class="btn btn-primary mt-2" (click)="continuar()"> Continuar </a>
                        <div>

                        </div>
                    </div>
                </div>
            </div>



        </section>
        <!-- users list ends -->
    </div>
</div>