<div class="content-wrapper">

    <div class="content-body">
        <div id="user-profile">
            <!-- profile header -->
            <div class="row">
                <div class="col-12">
                    <div class="card p-2">
                        <h4>Para solicitud de crédito por favor completa la siguiente información</h4>
                    </div>
                </div>
            </div>
            <!--/ profile header -->

            <!-- profile info section -->
            <section>
                <div class="tab-content">


                    <div class="tab-pane active" id="tab1" aria-labelledby="account-tab" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Fecha de creación del usuario</label>
                                            <input type="text" class="form-control" placeholder="escojer" value="21-04-2021" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Número de cédula</label>
                                            <input type="text" class="form-control" value="1817284467">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Nombres</label>
                                            <input type="text" class="form-control" value="Edgar">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Apellidos</label>
                                            <input type="text" class="form-control" value="Flores">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Género</label>
                                            <select class="form-control" id="status">
                                                 <option>- Seleccionar - </option>
                                                 <option>Hombre</option>
                                                 <option>Mujer</option>
                                                 <option>No especificado</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Fecha de nacimiento</label>
                                            <input type="text" value="27/02/1992" id="fp-default" class="form-control flatpickr-basic" placeholder="escojer fecha" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Edad</label>
                                            <input type="text" class="form-control" value="30">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr>
                                    </div>

                                    <div class="col-md-12 my-1">
                                        <h4>Datos de contacto</h4>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">País</label>
                                            <select class="form-control select2">
                                               <option>- Seleccione -</option>
                                               <option>Ecuador</option>
                                               <option>Perú</option>
                                               <option>Colombia</option>
                                               <option>Chile</option>
                                               <option>Venezuela</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Provincia</label>
                                            <select class="form-control select2">
                                               <option>- Seleccione -</option>
                                               <option>Pichincha</option>
                                               <option>Guayas</option>
                                               <option>Carchi</option>
                                               <option>Tunguragua</option>
                                               <option>Cotopaxi</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Ciudad</label>
                                            <select class="form-control select2">
                                               <option>- Seleccione -</option>
                                               <option>Quito</option>
                                               <option>Guayaquil</option>
                                               <option>Cuenca</option>
                                               <option>Ambato</option>
                                               <option>Manta</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Dirección</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Correo</label>
                                            <input type="text" class="form-control" value="jasgg@gmail.com" value="30">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Correo adicional</label>
                                            <input type="text" class="form-control" placeholder="micorreo@dominio.com">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Número de celular</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Número Whats App</label>
                                            <input type="text" class="form-control" value="0992354776">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Perfil de facebook</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Perfil de instagram</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Perfil de twitter</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Perfil de TikTok</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Perfil de youtube</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                        <a href="javascript:void(0)" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light" (click)="continuar()">Continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
            <!--/ profile info section -->
        </div>
    </div>
</div>