<div class="content-wrapper">
    <div class="content-body">
        <!-- users list start -->
        <section class="app-ecommerce-details">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 p-3">

                        <h3 class="mb-1">
                            <span class="text-info">Edgar Flores</span>
                        </h3>
                        <p>Tu crédito ha sido preaprobado, recibirás un notificación por correo electrónico una vez que tu dinero esté listo para ser desembolsado.</p>
                        <a href="creditos-autonomo-resultados.html" class="btn btn-primary">Entendido</a>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="product-detail" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Detalle de producto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row p-2">
                                    <div class="col-md-8">
                                        <div class="card plan-card border-primary">
                                            <div class="card-body">
                                                <div class="item-heading">
                                                    <h6 class="text-truncate mb-0 text-info">Apple Watch 6 series</h6>
                                                    <small class="text-body d-block">by Apple</small>
                                                </div>
                                                <div class="img-container w-50 mx-auto py-50">
                                                    <img src="app-assets/images/elements/apple-watch.png" class="img-fluid" alt="image" />
                                                </div>
                                                <hr/>
                                                <div class="item-meta">
                                                    <p class="card-text text-secondary small mb-0">Precio normal: $300.00</p>
                                                    <h6 class="mt-1">Precio super monedas:</h6>
                                                    <h6 class="mt-1 text-info">
                                                        <div class="iso-moneda"></div>
                                                        100 super monedas + $90.00 </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="mb-2">Donde aplica</h6>
                                        <h4 class="mb-2 text-primary">Mundo Mac</h4>
                                        <p class="card-text mb-0">Local: CC El Jardin (Av. Amazonas y República)</p>
                                        <p class="card-text mb-0">Ciudad: Quito</p>
                                        <p class="card-text mb-0">Vigencia: hasta 25-06-2021</p>
                                        <hr/>
                                        <div class="text-center">
                                            <button class="btn btn-primary" type="button" data-target="#buy" data-toggle="modal" data-dismiss="modal" aria-label="Close">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- users list ends -->
    </div>
</div>