<div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body" id="user-profile">
        <div class="auth-wrapper auth-v1 px-2">
            <div class="auth-inner py-2">
                <!-- Forgot Password v1 -->
                <div class="text-center mb-3">
                    <img src="{{ coreConfig.app.appLogoImage }}" width="250">
                </div>
                <div class="card card-developer-meetup">
                    <div class="meetup-img-wrapper rounded-top text-center">
                        <img src="assets/images/cambios/telfcambio.jpg" alt="Meeting Pic" height="170"/>
                    </div>
                    <div class="card-body text-center justify-content-center">
                        <h1>¡FELICIDADES!</h1>
                        <br>
                        <h3>Su cuenta se validó con éxito...</h3>
                        <br>
                        <p class="mb-0">Con su registro acaba de
                            <span class="text-primary font-weight-bold">
                                GANAR {{ganarMonedas ? ganarMonedas.valor : 0}} BIG PUNTOS
                            </span>
                            con los que puede canjear sus productos favoritos en establecimientos afiliados
                            <span class="text-primary font-weight-bold">
                                PAGANDO MENOS DINERO EN EFECTIVO.
                            </span>
                        </p>
                        <br>
                        <p class="mb-0">
                            Y, puede acceder a
                            <span class="text-primary font-weight-bold">COMPRAS CON CRÉDITOS</span>
                            otorgados por una Cooperativa de Ahorro y Crédito regulada en los mejores Locales Comerciales del país.
                        </p>
                        <hr/>
                        <div class="text-center">
                            <a (click)="empezar()" class="btn btn-primary">Empezar</a>
                        </div>

                        <app-footer > </app-footer>

                    </div>
                </div>
                <!-- /Forgot Password v1 -->
            </div>
        </div>

    </div>
</div>
