<div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body" id="user-profile">
        <div class="auth-wrapper auth-v1 px-2">
            <div class="auth-inner py-2">
                <!-- Forgot Password v1 -->
                <div class="text-center mb-3">
                    <img src="{{ coreConfig.app.appLogoImage }}" width="250">
                </div>

                <div class="card card-developer-meetup">
                    <div class="meetup-img-wrapper rounded-top text-center">
                        <img src="assets/images/illustration/email.svg" alt="Meeting Pic" height="170"/>
                    </div>
                    <div class="card-body">
                        <h1>¡FELICIDADES! Su cuenta se validó con éxito...</h1>
                        <p>Con su registro <span
                                class="text-primary font-weight-bold">acaba de GANAR {{ganarMonedas ? ganarMonedas.valor : 0}}
                            BIG PUTNOS
                        </span> con los que puede canjear sus productos favoritos en establecimientos afiliados.</p>
                        <hr/>
                        <div class="text-center">
                            <a (click)="empezar()" class="btn btn-primary">Empezar</a>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password v1 -->
            </div>
        </div>

    </div>
</div>
