<div class="row">
    <section class="head-LP text-LP">
        <div class="container pb-5">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-md-12 text-center">
                    <img src="../../../../assets/images/logo/logo.png" width="120" alt="">
                    <h1 class="yellow2 mt-4 text-bold">CrediCompra</h1>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row mx-2 justify-content-center align-items-center py-2">
                        <p>{{ descripcion.valor }}</p>
                    </div>
                    <div class="row mx-2 justify-content-center align-items-center py-2">
                        <h3>{{requisitos.valor}}</h3>
                    </div>
                    <div class="row mx-2 justify-content-center align-items-center py-2">
                        <div class="col-12">
                            <button type="submit" rippleEffect class="btn btn-primary mr-1" (click)="guardarCredito()">Whatsapp
                            </button>
                        </div>
                    </div>
                    <div class="row mx-2 justify-content-center align-items-center py-2">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of requisitos.config">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
