<div class="content-wrapper">

    <div class="content-body">
        <div id="user-profile">
            <!-- profile header -->
            <div class="row">
                <div class="col-12">
                    <div class="card p-2">
                        <h4>Para solicitud de crédito por favor completa la siguiente información</h4>
                    </div>

                </div>
            </div>
            <!--/ profile header -->

            <!-- profile info section -->
            <section>
                <div class="tab-content">


                    <div class="tab-pane active" id="tab2" aria-labelledby="account-tab" role="tabpanel">
                        <div class="card">
                            <div class="card-header border-bottom mb-2 bg-light">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="text-info">Los datos de RUC deben corresponder a la persona que solicita el préstamo con la siguiente cédula de identidad: <b>{{rucPersona.identificacion}}</b></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Número de cédula</label>
                                            <input type="text" class="form-control" value="{{rucPersona.identificacion}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">RUC</label>
                                            <input type="text" class="form-control" [(ngModel)]="rucPersona.ruc">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Nombre comercial</label>
                                            <input type="text" class="form-control" [(ngModel)]="rucPersona.nombreComercial">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Razón social</label>
                                            <input type="text" class="form-control" [(ngModel)]="rucPersona.razonSocial">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">País</label>
                                            <select class="form-control select2" [(ngModel)]="rucPersona.pais">
                                               <option>- Seleccione - </option>
                                               <option>Ecuador</option>
                                               <option>Perú</option>
                                               <option>Colombia</option>
                                               <option>Chile</option>
                                               <option>Brasil</option>
                                                <option>Venezuela</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Provincia</label>
                                            <select class="form-control select2" [(ngModel)]="rucPersona.provincia">
                                               <option>- Seleccione - </option>
                                               <option>Pichincha</option>
                                               <option>Guayas</option>
                                               <option>Carchi</option>
                                               <option>Cañar</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Ciudad</label>
                                            <select class="form-control select2" [(ngModel)]="rucPersona.ciudad">
                                               <option>- Seleccione - </option>
                                               <option>Quito</option>
                                               <option>Cuenca</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Años de antigueadad de RUC</label>
                                            <input type="text" class="form-control" [(ngModel)]="rucPersona.antiguedadRuc">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Actividad comercial</label>
                                            <select class="form-control select2" [(ngModel)]="rucPersona.actividadComercial">
                                               <option>- Seleccione - </option>
                                               <option>Option</option>
                                               <option>Option</option>
                                               <option>Option</option>
                                               <option>Option</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <hr>
                                        <h5 class="text-primary mb-2"><b>Datos financieros</b></h5>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Monto de ventas mensual</label>
                                            <input type="text" class="form-control" [(ngModel)]="rucPersona.ventaMensual">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="username">Gastos mensual</label>
                                            <input type="text" class="form-control" [(ngModel)]="rucPersona.gastoMensual">
                                        </div>
                                    </div>



                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                        <a href="javascript:void(0)" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light" (click)="continuar()">Continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </section>
            <!--/ profile info section -->
        </div>

    </div>


</div>