<div class="content-wrapper">
<!--    <div class="card-body text-center">-->
<!--        <img src="{{ coreConfig.app.appLogoImage }}" width="300">-->
<!--    </div>-->
    <div class="content-body">
        <!-- users list start -->
        <section class="app-ecommerce-details">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card">
                        <div class="m-2">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let item of requisitos.config">{{item}}</li>
                            </ul>
                        </div>
                        <div class="card-footer text-center p-2">
                            <a href="javascript:void(0)" class="btn btn-primary" (click)="continuar()">Continuar</a>
                        </div>
<!--                        <div class="text-center">-->
<!--                            <img src="../../../../assets/images/pages/logoCrediCompra.svg" height="50px" width="50px">-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>
        <!-- users list ends -->
    </div>
</div>

