<div class="row">
    <section class="head-LP text-LP">
        <div class="container pb-5">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-md-12 text-center">
                    <img src="../../../../assets/images/logo/logo.png" width="120" alt="">
                    <h1 class="yellow2 mt-4 text-bold">CrediCompra</h1>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row mx-2 justify-content-center align-items-center py-2">
                        <p>Con tus datos ingresados, como referencia tú puedes acceder a un crédito de hasta
                            ${{montoCreditoFinal}} a un plazo de 12 meses con CUOTAS MENSUALES DE ${{coutaMensual}}.
                            Los requisitos para el crédito son:</p>
                    </div>
                    <div class="row mx-2">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="footer-LP"></div>
