<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
        <!-- Forgot Password v1 -->
        <div class="card mb-0">
            <div class="card-body text-center">
                <a href="javascript:void(0);" class="brand-logo">
                    <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="250"/>
                </a>
                <br>
                <h4 class="card-title m-5">Terminos y condiciones</h4>
                <!--                <p class="card-text mb-2">Ingresa tu correo para recuperar tu contraseña</p>-->
            </div>
        </div>
        <!-- /Forgot Password v1 -->
    </div>
</div>


